.calculator-style {
  font-size: 5vmin;

  input {
    font-size: 5vmin;
    width: 10vmin;
  }

  div {
    div {
      display: inline-block;
    }
  }

  button {
    font-size: 5vmin;
    width: 10vmin;
    height: 10vmin;
  }
}